.score-board {

    display: grid;
    width: 65%;
    height: 100%;
    /* flex-direction: row-reverse; */
    grid-template-columns: repeat(5, 1fr);

    /* grid-template-rows: repeat(10, 1fr); */
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: stretch;
    /* gap: .1rem; */
    padding: 1rem;
    margin: auto;
    transform: rotate(180deg);


    border: #3b3b3b62 solid 1px;
    border-radius: 1rem;



    transition: height 1s ease;



}

@media screen and (max-width: 768px) {

    .score-board {
        width: 100%;
    }

}